.footer {
    background-color: #f95c00;
    padding: 40px 0 70px 0;
    p {
        color: #00191f;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 24px;
        margin: 0;
    }
}