.technology {
    background-color: #ebfcff;
    padding-top: 140px;
    padding-bottom: 120px;
    @media #{$desktop-large} {
        padding: 90px 0 80px 0;
    }
    @media #{$desktop-small} {
        padding: 30px 0;
    }
    h2 {
        color: #6a7c81;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 24px;
    }
    .info-section {
        padding-bottom: 115px;
        @media #{$desktop-small} {
            padding-bottom: 30px;
        }
        .header {
            margin-top: 24px;
            color: #00191f;
            font-size: 76px;
            font-weight: 600;
            line-height: 96px;
            @media #{$desktop-large} {
                font-size: 40px;
                line-height: 60px;
            }
            @media #{$desktop-small} {
                font-size: 30px;
                line-height: 45px;
            }
        }
        .subheader {
            margin-top: 24px;
            color: #525c5e;
            font-size: 29px;
            font-weight: 600;
            line-height: 40px;
            @media #{$desktop-large} {
                font-size: 25px;
                line-height: 40px;
            }
        }
        .description {
            margin-top: 56px;
            color: #525c5e;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            width: 567px;
            max-width: 100%;
            @media #{$desktop-small} {
                margin-top: 30px;
            }
        }
    }
    .fullstack-section {
        .right li {
            min-width: 329px;
            @media #{$desktop-small} {
                min-width: 250px;
                max-width: 329px;
            }

        }
        h2 {
            margin-bottom: 60px;
            @media #{$desktop-small} {
                margin-bottom: 30px;
            }
        }
        h3 {
            color: #00191f;
            font-size: 47px;
            font-weight: 600;
            line-height: 64px;
            @media #{$tablet} {
                font-size: 30px;
                line-height: 45px;
            }
        }
        .right-border-dashed {
            position: relative;
        }
        .right-border-dashed::after {
            position: absolute;
            content: "";
            width: 2px;
            display: block;
            border-right: 2px dashed #6a7c81;
            height: 100%;
            top: 0;
            right: -8px;
            @media #{$desktop-small} {
                display: none;
            }
        }

        ul {
            margin-top: 40px;
            list-style: none;
            padding-left: 0;
            @media #{$desktop-small} {
                margin-top: 0;
                margin-bottom: 30px;
            }
            li.small {
                margin-left: 16px;
                max-width: calc( 329px - 16px);
            }

            li {
                display: flex;
                align-items: center;
                color: #00191f;
                padding-left: 23px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                max-width: 329px;
                height: 56px;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
                border-radius: 8px;
                background-color: #ffffff;
                margin-bottom: 8px;
                img {
                    width: 25px;
                }
                b {
                    margin-right: 16px;
                    color: #00191f;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                }
                .image {
                    display: flex;
                    align-items: center;
                    width: 70px;
                }
            }
        }
    }
    .contact {
        margin-top: 100px;
        border-radius: 8px;
        padding: 66px 120px;
        background: url("/img/contact-bg.svg") no-repeat right #d8f8fd;
        @media #{$desktop-small} {
            padding: 20px;
            width: 95%;
            margin: 30px auto 0 auto;
        }
        p {
            color: #00191f;
            font-size: 47px;
            font-weight: 600;
            line-height: 64px;
            @media #{$desktop-small} {
                font-size: 30px;
                line-height: 45px;
            }
        }
        a {
            display: inline-block;
            margin-top: 40px;
        }
    }
}
